body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E90FF;
  color: #fa6705;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 1;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  background-color: #1E90FF;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.column h2 {
  font-size: 16px;
}

.sub-section {
  margin-top: 10px;
  text-align: center;
  color: #000000;
  font-size: 19px;
  flex-grow: 1;
}

.sub-section::before {
  content: "•";
  color: #007bff;
  font-size: 15px;
  margin-right: 5px;
}

.sub-section a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sub-section a:hover {
  color: #fa6705;
}
